<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <title>Title</title>
</head>
<body>
<section class="section">
    <div class="container">
        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input" type="text" placeholder="Search title" id="title">
                <input type="text" name="apikey" value="c4eaee83" hidden id="apikey">
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <div class="select is-fullwidth">
                    <select id="plot">
                        <option value="full" selected>Full</option>
                        <option value="short">Short</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="button" onclick="searchMovie()">Search</button>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container" id="movieContainer">

    </div>
</section>
<div class="notification is-danger is-light" style="display: none" id="dangerNotification">
    <button class="delete"></button>
    Primar lorem ipsum dolor sit amet, consectetur
    adipiscing elit lorem ipsum dolor. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur.
</div>
</body>
<script>
    function searchMovie(){
        const apikey = document.getElementById('apikey');
        const title = document.getElementById('title');
        const plot = document.getElementById('plot');

        fetch('http://omdbapi.com/?apikey='+apikey.value+'&t='+title.value+'&plot='+plot.value)
            .then(response => response.json())
            .then(data => setMovie(data));

    }

    function setMovie(data){
        const title = data.Title;
        const year = data.Year;
        const released = dateParser(data.Released);
        const runtime = data.Runtime;
        const plot = data.Plot;
        const language = data.Language;
        const country = data.Country;
        const awards = data.Awards;
        const poster = data.Poster;
        const imdbRating = data.imdbRating;
        const imdbVotes = data.imdbVotes;
        const imdbId = data.imdbID;
        const type = data.Type;
        const dvd = dateParser(data.DVD);
        const boxOffice = data.BoxOffice;
        const website = data.website;

        const movie = {
            title, year, released, runtime, plot, language, country, awards, poster, imdbRating, imdbVotes, imdbId, type, dvd, boxOffice, website
        }

        console.log(movie);

        postData('http://localhost:8080/api/movies', movie).
            then(data => {
                console.log(data)
        })

    }

    async function postData(url='', data={}){
        console.log(data);
        console.log(JSON.stringify(data))
        const response = await fetch(url, {
            method: 'POST',
            cache: 'no-cache',
            credentials: 'include',
            headers: {
                'Content-Type': 'application/json'
            },
            redirect: 'follow',
            referrerPolicy: 'no-referrer',
            body: JSON.stringify(data)
        });
        return response.json();
    }

    function dateParser(date = ''){
        const dateArray = date.split(' ');
        return dateArray[2]+'-'+getMonthNumber(dateArray[1])+'-'+dateArray[0];
    }

    function getMonthNumber(month = ''){
        const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
        const monthsNo = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];
        for (let i = 0; i < months.length; i++) {
            if (month === months[i]){
                month = monthsNo[i];
                break;
            }
        }
        return month;
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
            const $notification = $delete.parentNode;

            $delete.addEventListener('click', () => {
                $notification.parentNode.removeChild($notification);
            });
        });
    });
</script>
</html>