<!doctype html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/header.html"></th:block>
</head>
<body>
    <section class="section">
        <th:block th:replace="fragments/navbar.html"></th:block>
    </section>

    <!-- USERS TABLE -->
    <section class="section">
        <div class="container">
            <table class="table is-fullwidth is-striped card" id="usersTable" style="white-space: nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th>Api key</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td th:text="${user.getId()}"></td>
                    <td th:text="${user.getFirstName()}"></td>
                    <td th:text="${user.getLastName()}"></td>
                    <td th:text="${user.getUsername()}"></td>
                    <td th:text="${user.getRole()}"></td>
                    <td th:text="${user.getOmdbApiKey()}"></td>
                    <td class="is-flex is-justify-content-space-around">
                        <a href="#" class="has-text-primary"><div><i class="fa-solid fa-pen-to-square"></i></div></a>
                        <a class="has-text-info js-modal-trigger" th:data-target="'resetPasswordModal'+${user.getId()}"><div><i class="fa-solid fa-key"></i></div></a>
                        <a class="has-text-danger js-modal-trigger" th:data-target="'deleteUserModal'+${user.getId()}"><div><i class="fa-solid fa-trash-can"></i></div></a>
                    </td>

                    <!-- DELETE USER MODAL -->
                    <div class="modal" th:id="'deleteUserModal'+${user.getId()}">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Delete user</p>
                                <button class="delete" aria-label="close"></button>
                            </header>
                            <section class="modal-card-body">
                                <p class="content">Are you sure you want to delete user: </p>
                                <p class="content"><strong th:text="${user.getFirstName()}+' '+${user.getLastName()}"></strong></p>
                                <p class="content">This action cannot be undone and you will be unable to recover any data.</p>
                            </section>
                            <footer class="modal-card-foot is-justify-content-end">
                                <a th:href="@{'/users/delete/'+${user.getId()}}" class="button is-danger">Delete</a>
                                <button class="button">Cancel</button>
                            </footer>
                        </div>
                    </div>
                    <!-- END DELETE USER MODAL -->

                    <!-- CHANGE PASSWORD MODAL -->
                    <div class="modal" th:id="'resetPasswordModal'+${user.getId()}">
                        <div class="modal-background"></div>
                        <div class="modal-card">
                            <header class="modal-card-head">
                                <p class="modal-card-title">Reset password: </p>
                                <button class="delete" aria-label="close"></button>
                            </header>
                            <form action="#" th:action="@{'/users/resetPassword/'+${user.getId()}}" method="post" autocomplete="off">
                                <section class="modal-card-body">
                                    <div class="field">
                                        <p class="control has-icons-left">
                                            <input class="input is-danger" type="password" minlength="6" placeholder="Password" th:id="'resetPassword'+${user.getId()}" autocomplete="new-password" th:onkeyup="'showMessage(\'resetInfo\','+${user.getId()}+')'">
                                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <p class="control has-icons-left">
                                            <input class="input is-danger" type="password" minlength="6" placeholder="Confirm password" th:id="'resetConfirmPassword'+${user.getId()}" name="password" th:onkeyup="'showMessage(\'resetInfo\','+${user.getId()}+')'">
                                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                        </p>
                                    </div>
                                    <div class="field">
                                        <span><strong>Info:</strong>&nbsp;&nbsp;</span>
                                        <span th:id="'resetInfo'+${user.getId()}" class="has-text-danger">Password field cannot be empty</span>
                                    </div>
                                </section>
                                <section class="modal-card-foot is-justify-content-end">
                                    <button class="button is-success" type="submit">Save changes</button>
                                    <button class="button" type="reset">Cancel</button>
                                </section>
                            </form>
                        </div>
                    </div>
                    <!-- END CHANGE PASSWORD MODAL -->
                </tr>
                </tbody>
            </table>
        </div>
    </section>
    <!-- END USERS TABLE -->

    <section class="section">
        <div class="container">
            <button class="button is-primary js-modal-trigger" data-target="addUserModal">Add user</button>
        </div>
    </section>

    <!-- MODAL FOR NEW USER -->
    <div class="modal" id="addUserModal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Add new user: </p>
                <button class="delete" aria-label="close"></button>
            </header>
            <form action="#" th:action="@{/users/addUser}" method="post" autocomplete="off">
                <section class="modal-card-body">
                    <div class="field is-flex is-justify-content-space-between">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="First name" name="firstName">
                            <span class="icon is-small is-left"><i class="fas fa-align-left"></i></span>
                        </p>
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="text" placeholder="Last name" name="lastName">
                            <span class="icon is-small is-left"><i class="fas fa-align-left"></i></span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="Email" name="username" autocomplete="off" value="">
                            <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                        </p>
                    </div>
                    <div class="field has-background-warning-light">
                        <div class="select is-fullwidth">
                            <select class="is-fullwidth" name="role">
                                <option disabled selected class="has-text-grey-lighter">Select role</option>
                                <option value="ADMIN">ADMIN</option>
                                <option value="USER">USER</option>
                                <option value="CUSTOMER">CUSTOMER</option>
                            </select>
                        </div>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input is-danger" type="password" minlength="6" placeholder="Password" id="password" autocomplete="new-password" onkeyup="showMessage('info', '')">
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        </p>
                    </div>
                    <div class="field">
                        <p class="control has-icons-left">
                            <input class="input is-danger" type="password" minlength="6" placeholder="Confirm password" id="confirmPassword" name="password" onkeyup="showMessage('info', '')">
                            <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                        </p>
                    </div>
                    <div class="field">
                        <span><strong>Info:</strong>&nbsp;&nbsp;</span>
                        <span id="info" class="has-text-danger">Password field cannot be empty</span>
                    </div>
                </section>
                <section class="modal-card-foot is-justify-content-end">
                    <button class="button is-success" type="submit">Save changes</button>
                    <button class="button" type="reset">Cancel</button>
                </section>
            </form>
        </div>
    </div>
    <!-- END MODAL FOR NEW USER -->

</body>
<script th:src="@{/js/script.js}"></script>
<script src="/static/js/script.js"></script>
</html>